

    /* website styles */

    .content1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        color:darkgreen;
    }

    #dog {
        font-size: 9px;
    }





        /* portfolio styles */


        /*
        
        .nav {
            background-color: white;
            max-width: 25%;
            min-width: 140px;
            flex: 1;
          }
  
        #all-contents {
            display: flex;
        }

        .content {
            background-color: white;
            text-align: center;
            max-width: 100%;
            min-width: 140px;
            flex: 1;
        }
        
        */



        #all-contents {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        #head {
            /* 
            text-align: center;
            */
            
            color: black;
        }

        .nav-a {
            text-decoration: none;
            color : blue;
        }

         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: white;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: white;
        }

        #portfolio a {
            text-decoration: none;
            color: blue;
        }